
.red{
    background-color: red;
}
.purple{
    background-color: purple;
    color: white;
}
.blue {
    background-color: blue;
    color:white;
}
.yellow{
    background-color: lightgoldenrodyellow;
}
.gray{
    background-color: gray;
}
.black{
    color: white;
    background-color: black;
}