body{
    margin:0;
}
table{
    border-collapse: collapse;
    border:1px solid rgba(0,0,0,0.1);
    width: 800px;
}
#calendar{
    float: left;
}
thead{
    background-color: lightgrey;
}
td{
    border : 1px solid;
    width: 95px;
}
.month{
    position: relative;
    width:12%;
    /*padding: 3px;*/
    height: 102px;
    vertical-align: top;
}
.week{

    width:12%;
    /*padding: 1px;*/
    height: 13px;
    position: relative;
}
.daily{
    position: relative;

}
#timeTitle{
    float: left;
}
.titleBar{
    float: left;
}
.mode{
    float: left;
    margin-left:20%;
}
.sun{
    color: red;
}
.sat{
    color: blue;
}
.today{
    background-color: yellow;
}
.orderBoth{
    position: absolute;
    width:90%;
    margin: 0 5%;
    z-index: 3;

}
.orderStart{
    position: absolute;
    width:97%;
    margin-left:5%;
    z-index: 3;
}
.orderEnd{
    position: absolute;
    width:97%;
    margin-right:5%;
    z-index: 3;
}
.order{
    position: absolute;
    width:101%;
    z-index: 3;
}
.order0{
    top:22px;
}
.order1{
    top:42px;

}
.order2{
    top: 62px;
}
.over{
    top: 82px;
}
.weekbar{
    position: absolute;
    top:1px;
    z-index: 8;
}
.todo{
    width:30%;
    height:100%;
    float: left;
}
.weekETC{
    left: 70%;
    position: absolute;
    background: white;
    top:0;
}
.dailyETC{
    left: 73%;
    position: absolute;
    background: white;
    top:0;
    width:100px;
}
#popback{
    z-index: 9;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    display: none;
}
#pop{
    /*display: none;*/
    z-index: 10;
    width:400px;
    height: 400px;
    background-color: white;
    position: fixed;
    top:100px;
    left:calc(50% - 200px);
    display: none;
}
#planPop{
    display: none;
    width: 400px;
    height:400px;
    background-color: white;
    position: fixed;
    top:100px;
    left:calc(50% - 200px);
    border:1px solid black;
    z-index: 10
}
#todoTitle{
    width:384px;
}
#todo{
    float: left;
    display: none;
}
@media only screen and (max-width: 1184px) {
    #todoTitle{
    }
    #todo{
        display: none;
        width: 400px;
        height:400px;
        background-color: white;
        position: fixed;
        top:100px;
        left:calc(50% - 200px);
        border:1px solid black;
        z-index: 10
    }
}
@media only screen and (max-width: 800px) {
    table{
        width: 100%;
    }
    #pop{
        /*display: none;*/
        z-index: 10;
        width:200px;
        height: 400px;
        background-color: white;
        position: fixed;
        top:50px;
        left:calc(50% - 100px);
        display: none;
    }
    #planPop{
        display: none;
        width: 200px;
        height:400px;
        background-color: white;
        position: fixed;
        top:50px;
        left:calc(50% - 100px);
        border:1px solid black;
        z-index: 10
    }
}